.iris-tasks {
  padding: 10px;
  overflow-y: auto;
}

.iris-tasks .iris-hp-list-item-self .task-list-item-checkbox {
  flex-shrink: 0;
  margin: 0;
}

.iris-tasks .iris-hp-list-item-self.is-completed .iris-hp-list-item-inner {
  text-decoration: line-through;
  color: var(--text-muted);
}

.iris-tasks .iris-hp-list-item-self.is-completed {
  opacity: 0.5;
}
